{% extends "base.html" %}
{% block main %}
<h1>Contact Form</h1>
<form action="/process" method="POST">
   	{{ form.csrf_token }} 
	{{ form.name.label }} <br>
	<p>Please enter your full name</p> 
	{{ form.name(size=35) }}  <br>
	{{ form.email.label }} <br>
	<p>Please enter your e-mail address</p>
	{{ form.email(size=35) }} <br>
	{{ form.subject.label }} <br>
	<p>Please enter the subject for your message</p>
	{{ form.subject(size=35) }} <br>
	{{ form.message.label }} <br> 
	<p>Please enter the message you would like to send</p>
	{{ form.message(cols="35", rows="5") }} <br> 
    <button type="submit">Send</button>
</form>
{% endblock %}